<p>prova works!</p>

<h1>Ex1</h1>
<h5 id="queso">Bocata de queso</h5>
<button (click)="majus()">Poner el texto en majus</button>

<h1>Ex2</h1>
<h5 id="url">Esta sera la url</h5>
<button (click)="mostrarUrl()">Mostrar url</button>

<h1>Ex3</h1>
<h1 id="titolProva">Això és un títol de prova</h1>

<h1>Ex4</h1>
<table id="taula">
  <tr>
    <td>A</td>
    <td>B</td>
  </tr>
</table>

<h1>Ex5</h1>
<ul>
  <li class="primera">Abudabi</li>
  <li class="primera">En un lugar de la mancha</li>
</ul>

<h1>Ex6</h1>
<p id="ipsum">lorem ipsum ipo pan loco huevo</p>

<h1>Ex7</h1>
<body></body>

<h1>Ex8</h1>
